name: Format check on pull request
on:
 pull_request:
    branches: [master, main, develop]
jobs:
  check-format:
    runs-on: windows-latest

    steps:
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.x'

      - name: Install dotnet-format tool
        run: dotnet tool install -g dotnet-format --version "8.*" --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run dotnet format
        run: dotnet format style --include Assets/_Project/Scripts/*.cs --folder --verify-no-changes --verbosity diagnostic
