name: Format check on pull request
on:
 pull_request:
    branches: [master, main, develop]
jobs:
  check-format:
    runs-on: windows-latest

    steps:
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x'

      - name: Install dotnet-format tool
        run: dotnet tool install -g dotnet-format

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run dotnet format
        run: dotnet format style 'LinterTest.sln' --no-restore --verify-no-changes --verbosity diagnostic
        #run: dotnet format '.\' --fix-style error --include Assets/_Project/Scripts/*.cs --folder --no-restore --verbosity diagnostic --check 
        #run: dotnet format '.\' --folder --check --verbosity diagnostic
#jobs:
#  check-format:
#    runs-on: windows-latest
#
#    steps:
#      - name: Setup .NET Core
#        uses: actions/setup-dotnet@v1
#        with:
#          dotnet-version: '7.x'
#
#      - name: Install dotnet-format tool
#        run: dotnet tool install -g dotnet-format 
#
#      - name: Check out code
#        uses: actions/checkout@v3
#
#      - name: Run dotnet format
#        run: dotnet format '.\' --no-restore --verbosity diagnostic
#        #run: dotnet format style '.\' --include Assets/_Project/Scripts/*.cs --no-restore --verbosity diagnostic
#jobs:
#  dotnet-format:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout repo
#        uses: actions/checkout@v3
#
#      - name: Add dotnet-format problem matcher
#        uses: xt0rted/dotnet-format-problem-matcher@v1
#
#      - name: Restore dotnet tools
#        uses: xt0rted/dotnet-tool-restore@v1
#
#      - name: Run dotnet format
#        uses: xt0rted/dotnet-format@v1.2.0
#        with:
#          only-changed-files: "true"
#
